@tailwind base;
@tailwind components;
@tailwind utilities;



@media (min-width: 768px) {
  :root {
    margin: 0;
    padding: 0 50px;
    padding-top: 20px;
    box-sizing: border-box;
    background-color: #f5ecdd;
    color: #905E4E ;
    }
}




@media (max-width: 768px) {
  :root {
  font-size: 13px;
  min-width: 375px;
  margin-top: 40px;
  background-color: #f5ecdd;
  padding: 0 15px;
  color: #905E4E ;

  }
}



/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
